/* General styles */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Macondo", cursive;
  color: rgba(255, 193, 7, 0.7);
}

/* Header styles */
.header-container {
  height: 110px;
  position: relative;
}

.header-logo {
  max-height: 105px;
  width: auto;
  display: block;
  object-fit: contain;
}

.form-inline {
  margin-left: auto;
}

.form-control {
  width: 320px;
  height: 40px;
  font-size: 20px;
  border: 1px solid;
}

.btn-outline-success {
  height: 40px;
  font-size: 20px;
}

.navbar .profile-info {
  display: flex;
  align-items: center;
}

.navbar .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar .profile-name {
  font-size: 20px;
}

/* Home styles */
.home-container {
  text-align: center;
  padding: 20px;
}

.home-container h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-top: 100px;
  text-shadow: 5px 5px 13px rgba(255, 193, 7, 0.983);
  text-decoration: underline;
}

.home-container p {
  margin-top: 10px;
}

body.dark-mode {
  background-color: #121212;
  color: rgba(255, 193, 7, 0.7);
}

/* Login, Signup, Profile styles */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.auth-logo {
  width: 300px;
  margin-bottom: 10px;
  border-radius: 50px;
}

.auth-logo:hover {
  background-color: #ffc107;
  box-shadow: 10px 13px 16px rgba(255, 193, 7, 0.7);
}

.auth-form {
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  text-align: center;
  overflow-y: auto;
  max-height: 80vh;
}

.auth-form:hover {
  box-shadow: 10px 13px 17px rgba(255, 193, 7, 0.7);
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 90px;
  text-decoration: underline;
}

.form-group {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 35px;
  text-decoration: 2px underline;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 20px;
  border: 4px solid rgba(255, 193, 7, 0.7);
  border-radius: 30px;
  height: 60px;
}

.form-group textarea {
  resize: vertical;
  height: 65px;
}

.form-group input:hover, .form-group textarea:hover {
  border-color: #ffc107;
  box-shadow: 0 0 60px rgba(255, 193, 7, 0.7);
}

.btn-primary, .btn-secondary, .btn-danger, .btn-info {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: rgba(255, 193, 7, 0.7);
  color: black;
  font-size: 30px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 14px;
  height: 50px;
}

.btn-primary:hover, .btn-secondary:hover, .btn-danger:hover, .btn-info:hover {
  background-color: #ffc107;
  box-shadow: 10px 13px 16px rgba(255, 193, 7, 0.7);
}

.error-message, .success-message {
  margin-bottom: 10px;
  text-align: center;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.password-group, .pin-group {
  position: relative;
}

.password-toggle, .pin-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Timeline styles */
.timeline-container {
  width: 100%;
  height: 400px;
  border: 1px solid #ccc;
  margin: 20px 0;
  background: #fff;
}

.timeline-item {
  display: flex;
  align-items: center;
}

.timeline-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.timeline-content {
  display: flex;
  flex-direction: column;
}

.timeline-link {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.timeline-link:hover {
  text-decoration: underline;
}

.timeline-description {
  margin: 5px 0;
  font-size: 14px;
}

/* Navbar styles */
.navbar {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.navbar .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 15px;
  transition: color 0.3s, transform 0.3s;
  border: 10px solid rgba(255, 193, 7, 0.7);
  border-radius: 50%;
}

.navbar .nav-icon {
  height: 180px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.navbar .nav-text {
  font-size: 2rem;
}

.navbar .nav-item:hover .nav-icon {
  transform: scale(1.1);
}

.navbar .nav-item:hover .nav-text {
  text-shadow: 4px 4px 8px rgba(255, 193, 7, 0.7);
}

.navbar .nav-item:hover {
  box-shadow: 7px 10px 14px rgba(255, 193, 7, 0.7);
}

/* Toggle switch styles */
.react-toggle {
  width: 60px;
  height: 30px;
}

.react-toggle-track {
  border-radius: 30px;
  background-color: #cccccc2f;
  transition: background-color 0.2s ease;
}

.react-toggle--checked .react-toggle-track {
  background-color: #444;
}

.react-toggle-thumb {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  top: 2px;
  left: 2px;
  transition: left 0.2s ease, background-color 0.2s ease;
}

.react-toggle--checked .react-toggle-thumb {
  background-color: #222;
  left: calc(100% - 28px);
}

.toggle-container {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.react-toggle .react-toggle-track-check,
.react-toggle .react-toggle-track-x {
  display: none;
}
