.container-custom {
  padding: 20px; /* Add padding to the container */
}

.row-custom {
  margin: 0 -10px 30px -10px; /* Negative margin to counteract padding on Col, and added bottom margin for spacing between rows */
}

.col-custom {
  padding: 0 10px; /* Add padding to columns for spacing */
}

.card-custom {
  font-size: 1.1rem; /* Adjust the font size as needed */
  border: 2px solid #ddd; /* Thicker border */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effect */
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
  overflow: hidden; /* Prevents content overflow */
  position: relative; /* Ensure the card body stays within the card */
  max-height: 200px; /* Set a max height for non-expanded state */
}

.card-custom:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Background shadow */
}

.card-img-top {
  height: 150px; /* Fixed height for images */
  object-fit: cover; /* Ensure image covers the area */
}

.card-body {
  display: flex;
  flex-direction: column;
}

.expanded-content {
  max-height: 1000px; /* Allow for expansion */
  transition: max-height 0.5s ease-in-out;
}

.expanded .card-body {
  max-height: 1000px; /* Adjust max-height for expanded card */
}

  