.chrono-icons {
    display: none;
}

.chrono-timeline {
    margin: auto;
}

.chrono-icons .chrono-icons-circle {
    background: #e6e6e6;
}

.chrono-icons .chrono-icons-circle img {
    filter: grayscale(100%);
}

.chrono-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
